/* ExpenseForm.css */
.card {
    border-radius: 8px;
}

.card-body {
    padding: 2rem;
}

.btn {
    width: 100px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
}

.btn-info {
    background-color: #17a2b8;
    border: none;
}

.list-group-item {
    border: none;
    border-radius: 0.25rem;
}
