.local-events-container {
  background-image: url('./festival-cover-crop.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.banner-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.banner-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.events-form {
  margin-top: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width:100%;
  max-width: 600px;
}

.events-form label {
  display: block;
  margin: 10px 0;
  font-size: 1.2rem;
}

.events-form input, .events-form select {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.events-form button {
  background-color: #28a745;
  color: white;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.events-form button:hover {
  background-color: #218838;
}

events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 100px; 
  margin-top: 200px;
}


.event-item {
  background-color: #c3ced4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
  gap:50px;
  height: 250px;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}

.event-item:hover {
  transform: translateY(-5px); 
}


.event-item h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}


.event-item p {
  color: #666;
  line-height: 1.6;
}


.event-item p.date {
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}


.event-item a {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.event-item a:hover {
  background-color: #0056b3;
}

